.DS_Store*
__pycache__
.qmake.stash
*.pro.user.*
*.user
*.pyc
*.pfd
*.o
*.obj
*.exp
*.lib
*.so
*.dylib
*.pyd
*.autosave
.pytest_cache
htmlcov
.coverage*
.#*
.xcuserstate
Makefile
instance
*.egg-info
dist
Pipfile.lock
